.container {
    background-color: #d8cccc;
    padding: 20px 50px;
    display: flex;
    position: fixed;
    width: 100%;
    text-align: center;
    justify-content: center;
    bottom: 0px;
}
.copyright{
    color: #fff;
}